<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LG.ge</title>
        <link rel="shortcut icon" type="image/jpg" href="/assets/icon.png"/>
        <link rel="stylesheet" href="/headFootStyle.css">
        <link rel="stylesheet" href="/main_section.css">
        <style>
            #filter_menu{
                display: none;
            }
        </style>
    </head>

    <body>

        <div id="header"></div>

        <div id="banner">
                
        </div>

        <section id="mainSection">

            <h1>ელექტრონული მოწყობილობები</h1>
            <div id="electronics-products" class="products"></div>
            <div class="pagination">
                <button id="electronics-prev" disabled>← Prev</button>
                <button id="electronics-next">Next →</button>
            </div>

            <h1>სპორტი</h1>
            <div id="sports-equipment-products" class="products"></div>
            <div class="pagination">
                <button id="sports-equipment-prev" disabled>← Prev</button>
                <button id="sports-equipment-next">Next →</button>
            </div>

            <h1>სახლის ინვენტარი</h1>
            <div id="home-appliances-products" class="products"></div>
            <div class="pagination">
                <button id="home-appliances-prev" disabled>← Prev</button>
                <button id="home-appliances-next">Next →</button>
            </div>

        </section>


            
           

        </section>

        <div id="footer"></div>

        <script src="/insertHeadFoot.js"></script>
        <script src="/products.js"></script>
    </body>
</html>